.tbk_app_wqsuz_1 {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  position: relative;
}
.tbk_app_wqsuz_1 table tr:nth-child(even) {
  background-color: transparent !important;
}
.tbk_app_wqsuz_1 .tbk_absolutePositioned_wqsuz_9 {
  position: absolute !important;
}
.tbk_app_wqsuz_1 .tbk_upperCase_wqsuz_12 {
  text-transform: uppercase !important;
}
.tbk_app_wqsuz_1 .tbk_secondaryText_wqsuz_15 {
  color: #636363;
  margin-left: 4px;
}
.tbk_app_wqsuz_1 .tbk_dateTimeCell_wqsuz_19 span {
  display: block;
  opacity: 0.7;
}
.tbk_app_wqsuz_1 .tbk_strongText_wqsuz_23 {
  font-weight: 700;
  margin-right: 4px;
}
.tbk_app_wqsuz_1 button.noHover:hover {
  background: none;
}
.tbk_app_wqsuz_1 .tbk_formHeader_wqsuz_30 {
  display: flex;
}
.tbk_app_wqsuz_1 .tbk_formHeader_wqsuz_30 .tbk_tinyCalendar_wqsuz_33 {
  margin-right: 20px;
  border-right: 1px solid lightgray;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 {
  padding: 10px;
  text-align: center;
  background: transparent;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 button {
  text-transform: uppercase;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 .tbk_userMessageContent_wqsuz_45 {
  padding: 28px;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 .tbk_userMessageActions_wqsuz_48 {
  justify-content: center;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 .tbk_userMessageHeader_wqsuz_51 {
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbk_app_wqsuz_1 .tbk_userMessage_wqsuz_37 .tbk_userMessageHeader_wqsuz_51 > svg {
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 600px) {
  .tbk_calendar_1rtht_2 .tbk_dayButtonContainer_1rtht_2 .tbk_dayButton_1rtht_2 {
    min-width: 30px !important;
    font-size: 12px !important;
  }
}
.tbk_calendar_1rtht_2 {
  padding: 10px;
}
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.tbk_calendar_1rtht_2 .tbk_dayButtonContainer_1rtht_2 {
  text-align: center;
}
.tbk_calendar_1rtht_2 .tbk_dayButtonContainer_1rtht_2 .tbk_dayButton_1rtht_2 {
  border-radius: 50%;
  text-align: center;
  min-width: 38px;
  font-size: 14px;
}
.tbk_calendar_1rtht_2 .tbk_dayButtonContainer_1rtht_2 .tbk_dayButton_1rtht_2:not(.tbk_pastDay_1rtht_25):hover {
  background: inherit;
}
.tbk_calendar_1rtht_2 .tbk_dayButtonContainer_1rtht_2 .tbk_dayButton_1rtht_2:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;
  grid-gap: 4px;
  word-break: break-all;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34.tbk_noWeekends_1rtht_42,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10.tbk_noWeekends_1rtht_42 {
  grid-template-columns: repeat(5, 1fr);
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 {
  padding: 4px;
  font-size: 14px;
  transition: background-color 0.2s;
  border-radius: 6px;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: min-content;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2.tbk_pastDay_1rtht_25,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2.tbk_pastDay_1rtht_25 {
  opacity: 0.3;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2.tbk_pastDay_1rtht_25 .tbk_dayButton_1rtht_2:hover,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2.tbk_pastDay_1rtht_25 .tbk_dayButton_1rtht_2:hover {
  background: none !important;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2 .tbk_dayLabel_1rtht_64,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 .tbk_dayLabel_1rtht_64 {
  text-align: center;
  margin: 0 auto auto;
  padding: 8px 0;
  line-height: 1;
  width: 30px;
  border-radius: 30px;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2 .tbk_dayEventsContainer_1rtht_73,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 .tbk_dayEventsContainer_1rtht_73 {
  margin: 0 auto;
  line-height: 1;
  text-align: center;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73 {
  font-size: 12px;
  margin: auto;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73.tbk_dayEventCompact_1rtht_84,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73.tbk_dayEventCompact_1rtht_84 {
  display: inline-block;
}
.tbk_calendar_1rtht_2 .tbk_days_1rtht_34 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73.tbk_dayEventNotInline_1rtht_88,
.tbk_calendar_1rtht_2 .tbk_weekDays_1rtht_10 .tbk_day_1rtht_2 .tbk_dayEvent_1rtht_73.tbk_dayEventNotInline_1rtht_88 {
  display: flex;
  justify-content: center;
}
.tbk_nav_bcwsa_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tbk_nav_bcwsa_1:not(:empty) {
  padding: 10px 20px;
}
.tbk_alignRight_zx1uh_1 {
  margin-left: auto !important;
}
.tbk_container_zx1uh_4:empty {
  display: none;
}
.tbk_cardAction_zx1uh_7 {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0 0 0 10px;
}
.tbk_loginButtonsContainer_zx1uh_13 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
}
.tbk_schedule_zx1uh_19 {
  font-size: 14px;
  color: #0f0f0f;
  padding: 10px;
}
.tbk_schedule_zx1uh_19:empty {
  display: none;
}
.tbk_schedule_zx1uh_19 .tbk_header_zx1uh_27 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tbk_schedule_zx1uh_19 .tbk_header_zx1uh_27 .tbk_dayNumber_zx1uh_32 {
  text-align: center;
  padding: 8px 0;
  line-height: 1;
  width: 30px;
  border-radius: 30px;
  background: #226A9D;
  color: white;
}
.tbk_schedule_zx1uh_19 .tbk_header_zx1uh_27 .tbk_date_zx1uh_41 {
  margin-left: 8px;
  font-weight: 600;
}
.tbk_schedule_zx1uh_19 .tbk_header_zx1uh_27 .tbk_date_zx1uh_41 .tbk_secondaryDatePart_zx1uh_45 {
  color: #9B9B9B;
}
.tbk_item_1g1x3_1 {
  padding: 2px;
  line-height: 1;
  display: flex;
}
.tbk_item_1g1x3_1 .tbk_dot_1g1x3_6 {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50px;
  flex-shrink: 0;
  margin-top: 3px;
}
.tbk_item_1g1x3_1 .tbk_label_1g1x3_14:not(:empty) {
  font-size: 10px;
  font-weight: 600;
  color: #9B9B9B;
}
.tbk_item_1f2fb_1:not(:last-child) {
  margin-bottom: 8px;
}
.tbk_item_1f2fb_1 .tbk_times_1f2fb_4 {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  width: 64px;
  border-right: 1px solid #D3D3D3;
  padding-right: 8px;
}
.tbk_item_1f2fb_1 .tbk_times_1f2fb_4 .tbk_timeDivider_1f2fb_12 {
  color: #D3D3D3;
  width: 18px;
  height: 18px;
  margin-right: -6px;
  vertical-align: middle;
}
.tbk_item_1f2fb_1 .tbk_times_1f2fb_4 .tbk_endTime_1f2fb_19 {
  color: #636363;
}
.tbk_item_1f2fb_1 .tbk_times_1f2fb_4 .tbk_dot_1f2fb_22 {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50px;
}
.tbk_item_1f2fb_1 .tbk_content_1f2fb_28 {
  flex: 1;
}
.tbk_item_1f2fb_1 .tbk_content_1f2fb_28 .tbk_title_1f2fb_31 {
  font-weight: 600;
}
.tbk_item_1f2fb_1 .tbk_content_1f2fb_28 .tbk_meta_1f2fb_34 {
  color: #636363;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.tbk_item_1f2fb_1 .tbk_content_1f2fb_28 .tbk_meta_1f2fb_34 .tbk_iconContainer_1f2fb_40 {
  width: 14px;
  height: 14px;
  display: inline;
  margin-right: 2px;
}
.tbk_item_1f2fb_1 .tbk_content_1f2fb_28 .tbk_meta_1f2fb_34 .tbk_iconContainer_1f2fb_40 .tbk_icon_1f2fb_40 {
  width: inherit;
  height: inherit;
}
.tbk_item_1f2fb_1 .tbk_durationControlContainer_1f2fb_50 {
  display: flex;
}
.tbk_item_1f2fb_1 .tbk_durationControlContainer_1f2fb_50 .tbk_durationControl_1f2fb_50 {
  width: calc(100% - 80px);
  margin-right: 40px;
  margin-left: 40px;
}
.tbk_item_1f2fb_1 .tbk_durationControlContainer_1f2fb_50 .tbk_durationControl_1f2fb_50 .tbk_durationControlLabel_1f2fb_58 {
  font-size: 10px;
}
.tbk_item_1f2fb_1 .tbk_variants_1f2fb_61 {
  margin-left: 68px;
  display: grid;
  grid-gap: 4px;
}
.tbk_item_1f2fb_1 .tbk_variants_1f2fb_61 .tbk_underTimeslot_1f2fb_66 {
  line-height: 1;
  font-size: 10px;
  font-weight: 400;
  text-transform: none;
  color: #14a76c;
}
.tbk_item_1f2fb_1 .tbk_variants_1f2fb_61 .tbk_underTimeslot_1f2fb_66 .tbk_soldOutSlotString_1f2fb_73 {
  color: #b92f37;
}
.tbk_item_1f2fb_1 .tbk_actionButton_1f2fb_76 {
  margin-left: 8px;
}
.tbk_item_1f2fb_1 .tbk_itemActions_1f2fb_79 .tbk_icon_1f2fb_40 {
  transition: transform 0.2s ease-out;
  transform: rotate(0deg);
  padding: 2px;
}
.tbk_item_1f2fb_1 .tbk_itemActions_1f2fb_79 .tbk_icon_1f2fb_40.tbk_iconExpanded_1f2fb_84 {
  transform: rotate(180deg);
}
.tbk_formContainer_1asg7_1 {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  font-size: 14px;
  padding: 24px;
}
.tbk_formContainer_1asg7_1 .tbk_fieldContainer_1asg7_7 .tbk_fieldLabel_1asg7_7 {
  font-weight: 600;
  display: block;
}
.tbk_formContainer_1asg7_1 .tbk_fieldContainer_1asg7_7 .tbk_fieldDescription_1asg7_11 {
  font-size: 12px;
  margin: 4px 0 0;
  color: #2B2B2B;
}
.tbk_formContainer_1asg7_1 .tbk_fieldContainer_1asg7_7 .tbk_inputGroup_1asg7_16 .tbk_fieldContainer_1asg7_7 {
  padding: 0;
}
.tbk_formContainer_1asg7_1 .tbk_actions_1asg7_19 {
  display: flex;
  justify-content: flex-end;
}
.tbk_formContainer_1asg7_1 .tbk_actions_1asg7_19 > .tbk_actionButton_1asg7_23 {
  margin-left: 10px;
}
.tbk_formContainer_1asg7_1 .tbk_actions_1asg7_19 > .tbk_actionButton_1asg7_23 .tbk_priceLabel_1asg7_26 {
  margin-left: 0.5rem;
  opacity: 0.7;
}
.tbk_bookedLabel_k2yng_1 {
  color: #b92f37;
  margin-left: 6px;
  font-weight: 600;
}
.tbk_availableLabel_k2yng_6 {
  color: #5cae67;
  margin-left: 6px;
  font-weight: 600;
}
